<header>
    <nav id="left-nav">
      <button id="quickLinks"><i class="uil uil-align-left"></i>Quick Links</button>
      <div id="quickDropdown" class="dropdown" style="display: none;">
        <a href="/">Forum Home</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </nav>
    <nav id="handleLoginContainer"></nav>
</header>