<header>
    <nav id="left-nav">
      <button id="quickLinks"><i class="uil uil-align-left"></i>Quick Links</button>
      <a href="/"><i class="uil uil-tachometer-fast-alt"></i>Forum Home</a>
      <a href="#"><i class="uil uil-meeting-board"></i>Request Board</a>
      <div id="quickDropdown" class="dropdown" style="display: none;">
        <a href="/"><i class="uil uil-tachometer-fast-alt"></i>Forum Home</a>
        <a href="#"><i class="uil uil-comment-alt"></i>New Posts</a>
        <a href="#"><i class="uil uil-comment-slash"></i>Unanswered Posts</a>
        <a href="#"><i class="uil uil-comment-dots"></i>Trending Topics</a>
        <a href="#"><i class="uil uil-users-alt"></i>Members</a>
        <a href="#"><i class="uil uil-search"></i>Search</a>
        <a href="#"><i class="uil uil-comment-question"></i>FAQ</a>
        <a href="#"><i class="uil uil-comment-info"></i>Rules</a>
        <a href="#"><i class="uil uil-comment-exclamation"></i>Staff</a>
      </div>
    </nav>
    <nav id="handleLoginContainer"></nav>
</header>